#box{
    width: 100%;
    height:100%;
    
}
#box p{
    margin:1% 0 0 45%;
}
#main{
    width: 600px;
    height:400px;
    padding-top:10px;
    margin:0 auto;
}
#example {
    margin:1% 0 0 25%;
}
#example td{
    height:30px;
    width:160px;
    text-align: center;
}
#example th{
    height:30px;
    width:160px;
    text-align: center;
}